

body{
background-color: aliceblue;
}
.heading{
    display: flex;
    align-items: center;
    justify-content: center;
}
container{
    display: grid;
    grid-template-rows: auto; 
    grid-template-columns: 1fr;
    place-items: center;
    
}
section{
    display: grid;
    grid-template-rows: auto; 
    grid-template-columns: 1fr;
    place-items: center;
}
h2{
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    font-size: larger;
    gap:0.5rem;
    border: 1px solid black;
    width: 10wv;
    height: 10wv;
}
