

body{
background-color: aliceblue;
}
.heading{
    display: flex;
    align-items: center;
    justify-content: center;
}
container,section{
    display: grid;
    grid-template-rows: auto; 
    grid-template-columns: 1fr;
    place-items: center;
    border: 1px solid black;
}
section{
    display: grid;
    grid-template-rows: auto; 
    grid-template-columns: 1fr;
    place-items: center;
    border: 1px solid black; 
}
h2{
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    font-size: larger;
    gap:0.5rem;
}
